@import "./settings.css";
@import "./progress.css";
@import "./modal.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #292738;
  --bg-card: #363447;

  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0 2rem;

  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;

  position: relative;
}

body * {
  font-family: "Inter", sans-serif;
}

.hidden {
  display: none;
}

.card-style {
  background-color: var(--bg-card);
  box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.35);
  border-radius: 2rem;
}

.container {
  padding: 3rem;
  width: clamp(32rem, 80vw, 39rem);
}
